.RightMenu__main{
    position: sticky;
    margin-right: 35px;
    top: 65px;
    width:20%;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    height: 95vh;
    gap:0.5rem;

}
.RightMenu__requests-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    
    border-radius: 8px;
    overflow: auto;
    gap: 0.5rem;
}
@media screen and (max-width:600px){
    .RightMenu__main{display:none}
}

.RightMenu__requests {
    height: 30%;
    border-radius: 8px;
}
.RightMenu__contacts {
    background-color: white;
    height: 51.5%;
    overflow-y: auto;
    border-radius: 8px;
}
.RightMenu__Divider{
    font-size:12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#757575;
}
