.posts__main {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    top: 53px;
    left:10%;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color:#efefef;
    padding-bottom: 20px;
    scroll-behavior: smooth;
}