.Home__main{
    display:flex;
    margin-top:60px;
    justify-content:space-between;
    width:100%;
    height:90vh;
}
@media screen and (max-width:600px) {
    .Home__main{
        margin-top: 49px;
    }
}