.LeftMenu__main{
    display: flex;
    position: sticky;
    top: 65px;
    margin-left: 35px;
    width:18%;
    height: 95vh;
    padding: 20px 0px;
    flex-direction: column;
    gap:1.5rem;
}
.LeftMenu__profile {
    display: flex;
    flex-direction: column;
    gap:0.5em;
    background-color: white;
    border: 1px solid #dbdbdb;
    height: 15%;
    border-radius: 4px;
    padding:10px 10px;
}
.LeftMenu__menu {
    background-color: white;
    border: 1px solid #dbdbdb;
    height: 40%;
    border-radius: 4px;
}
.LeftMenu__invitations {
    background-color: white;
    border: 1px solid #dbdbdb;
    height: 30%;
    border-radius: 4px;
}
.LeftMenu__profile__info{
    display: flex;
    justify-content: space-between;
}
.LeftMenu__profile__image{
    width: 30px;
    height: 30px;
    border-radius:8px;
    object-fit: contain;
    
}
.LeftMenu__profile__image-img{
    width: 100%;
    height: 100%;
    border-radius:8px;
    object-fit: contain;
}
.LeftMenu__profile__image-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: #ffffff;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    background-color: rgb(35, 6, 139);
}
.LeftMenu__profile__name-prof{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    
}
.LeftMenu__profile__name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 30px;
    border-radius: 4px;

}
.LeftMenu__profile__profession{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 30px;
    border-radius: 4px;
  
}